{% extends 'main.html' %}

{% block content %}
<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('network.network_list') }}">Network</a></li>
            <li class="breadcrumb-item active" aria-current="page">View</li>
        </ol>
    </nav>
</div>

<div class="container h-100">
    <div class="card rounded-3 text-black p-4">
        <h2>Network {{ row['ip_min'] }} - {{ row['ip_max'] }}</h2>
        <table border="1" cellpadding="5" cellspacing="0" class="table table-bordered">
            {% for i in range(0, ip_list|length, 16) %}
                <tr>
                    {% for ip_entry in ip_list[i:i+16] %}
                        <td class="ip-cell" style="background-color: {{ ip_entry.color }};text-align:center;" 
                        {% if ip_entry.mac %}
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="{{ ip_entry.ip }}<br>{{ ip_entry.mac }}"
                        {% endif %}
                         data-ip="{{ ip_entry.ip }}"
                        >
                            {{ ip_entry.number }} 
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="context-menu" class="dropdown-menu show" style="display:none; position:absolute;">
    <button class="dropdown-item" id="ping-action">Ping</button>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
    <div id="pingToastContainer"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const contextMenu = document.getElementById('context-menu');
        let currentIP = null;
    
        document.querySelectorAll('.ip-cell').forEach(cell => {
            cell.addEventListener('contextmenu', function(e) {
                e.preventDefault();
                currentIP = this.getAttribute('data-ip');
    
                contextMenu.style.display = 'block';
                contextMenu.style.top = `${e.pageY}px`;
                contextMenu.style.left = `${e.pageX}px`;
            });
        });
    
        document.addEventListener('click', (e) => {
            if (!contextMenu.contains(e.target)) {
                contextMenu.style.display = 'none';
            }
        });
    
        document.getElementById('ping-action').addEventListener('click', function(e) {
            e.preventDefault();
            contextMenu.style.display = 'none';
            if (currentIP) {
                fetch('{{ url_for('network.ping') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ip: currentIP })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'online') {
                        showToast(`💚 ${currentIP} online`);
                    } else if (data.status === 'offline') {
                        showToast(`💔 ${currentIP} offline`);
                    } else {
                        showToast(`⚠️ Ping error: ${data.error}`);
                    }
                })
                .catch(err => {
                    showToast(`❌ Ping failed: ${err}`);
                });
            }
        });
    });

    function showToast(message) {
    const toastElement = document.createElement('div');
    toastElement.classList.add('toast', 'align-items-center', 'text-white', 'bg-primary', 'border-0');
    toastElement.setAttribute('role', 'alert');
    toastElement.innerHTML = `
        <div class="d-flex mb-1">
            <div class="toast-body">
                ${message}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    `;

    const container = document.getElementById('pingToastContainer');
    container.insertBefore(toastElement, container.firstChild); // додавання зверху

    const toast = new bootstrap.Toast(toastElement);
    toast.show();

    setTimeout(() => {
        toast.hide();
        toastElement.remove();
    }, 5000);
}

</script>
{% endblock %}