{% extends 'main.html' %}
{% block content %}
<div class="container py-3 h-100">
    <div class="card rounded-3 text-black p-4">
        <div class="row">
            <div class="col-7">
                <h3>Disk Information</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Mount Point</th>
                            <th>File System</th>
                            <th>Total (GB)</th>
                            <th>Free (GB)</th>
                            <th>Used (GB)</th>
                            <th>Usage (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disk in disk_info %}
                        <tr>
                            <td>{{ disk.device }}</td>
                            <td>{{ disk.mountpoint }}</td>
                            <td>{{ disk.fstype }}</td>
                            <td>{{ (disk.size / (1000 ** 3)) | round(2) }} GB</td>
                            <td>{{ (disk.free / (1000 ** 3)) | round(2) }} GB</td>
                            <td>{{ (disk.used / (1000 ** 3)) | round(2) }} GB</td>
                            <td>{{ disk.percent }}%</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <h3><i class="las la-microchip"></i> CPU Information ({{ cpu_info.physical_cores }} core)</h3>
                <p>{{ cpu_info.cpu_name }} ({{ cpu_info.architecture }}) Usage: <span id="cpu_usage">{{ cpu_info.cpu_usage }}</span>%</p>
                <h5>Per-Core Usage:</h5>
                <ul class="list-group">
                    {% for core in cpu_info.cores %}
                        <li id="sub_core_{{ core.core }}" class="list-group-item" style="background: linear-gradient(to right, #6BCBD5 0%, #6BCBD5 {{ usage }}%, #ffffff {{ usage }}%, #ffffff 100%);">Core {{ core.core }}: <span id="sub_core_usage_{{ core.core }}">{{ core.usage }}</span>% - <span id="sub_core_frequency_{{ core.core }}">{{ core.frequency }}</span>GHz</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <h3>RAM Information</h3>
                <p>Total RAM: {{ (ram_info.total / (1000**3)) | round(2) }} GB<br>
                <span class="badge" style="background-color: #0E5582;">Usage (GB)</span> <span class="badge" style="background-color: #6BCBD5;">Aviable (GB)</span><br>
                Usage: <span id="ram_info_percent">{{ ram_info.percent }}</span>%</p>
                <style>
                    .chart-container {
                        position: relative;
                        width: 200px;
                        height: 200px;
                    }
                    .chart {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: conic-gradient(
                            #0E5582 0deg var(--usage-angle),   /* Used RAM */
                            #6BCBD5 var(--usage-angle) 360deg  /* Available RAM */
                        );
                    }
                    .label {
                        position: absolute;
                        font-size: 14px;
                        font-weight: bold;
                        color: white;
                        text-align: center;
                        width: 50px;
                        height: 20px;
                        line-height: 20px;
                        transform: translate(-50%, -50%);
                    }
                </style>
                <div class="chart-container" id="chart" style="--usage-angle: {{ ram_info.percent * 3.6 }}deg">
                    <div class="chart"></div>
                    <div class="label" id="label-usage">{{ (ram_info.used / (1000**3)) | round(2) }}</div>
                    <div class="label" id="label-available">{{ (ram_info.available / (1000**3)) | round(2) }}</div>
                </div>
            </div>
            <div class="col-9">
                <h3>Network Interfaces</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Interface</th>
                            <th>Type</th>
                            <th>IP Address</th>
                            <th>Speed (Mbps)</th>
                            <th>Bytes Sent</th>
                            <th>Bytes Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for net in network_info %}
                        <tr>
                            <td>{{ net.interface }}</td>
                            <td>{{ net.type }}</td>
                            <td>{% for ip in net.ips %}
                                {{ ip }}<br>
                            {% endfor %}</td>
                            <td id="ether_{{ loop.index0 }}" style="background: linear-gradient(to right, #6BCBD5 0%, #6BCBD5 {{ net.utilization }}%, #ffffff {{ net.utilization }}%, #ffffff 100%);">{{ net.speed if net.speed > 0 else "Unknown" }}</td>
                            <td id="ether_tx_{{ loop.index0 }}">{{ (net.bytes_sent / (1000**2)) | round(2) }} MB</td>
                            <td id="ether_rx_{{ loop.index0 }}">{{ (net.bytes_received / (1000**2)) | round(2) }} MB</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <!--
    <h3>CPU Information</h3>
<p id="cpu-info">Loading...</p>


<h3>RAM Information</h3>
<p id="ram-info">Loading...</p>

<h3>Network Interfaces</h3>
<p id="network-info">Loading...</p>

<h3>ARP Table</h3>
<p id="arp-info">Loading...</p>
-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function updateDashboard() {
    function positionLabels(usagePercent) {
        const usageAngle = (usagePercent / 100) * 360;
        const centerX = 100;
        const centerY = 100;
        const radius = 50;

        const usageRadians = (usageAngle / 2 - 90) * (Math.PI / 180);
        const availableRadians = ((usageAngle + (360 - usageAngle) / 2) - 90) * (Math.PI / 180);

        const usageX = centerX + radius * Math.cos(usageRadians);
        const usageY = centerY + radius * Math.sin(usageRadians);
        const availableX = centerX + radius * Math.cos(availableRadians);
        const availableY = centerY + radius * Math.sin(availableRadians);

        document.getElementById('label-usage').style.left = `${usageX}px`;
        document.getElementById('label-usage').style.top = `${usageY}px`;
        document.getElementById('label-available').style.left = `${availableX}px`;
        document.getElementById('label-available').style.top = `${availableY}px`;
    }
    positionLabels({{ ram_info.percent }});
    $.get('/get_dashboard_data', function(data) {
        // CPU Info
        $('#cpu_usage').html(`${data.cpu_info.cpu_usage_total}`);
        data.cpu_info.cores.forEach((entry) => { 
            $('#sub_core_usage_' + entry.core).html(entry.usage);
            $('#sub_core_vfrequency_' + entry.core).html(entry.frequency);
            var color = '#6BCBD5';
            if (entry.usage > 55) {
                color = '#F79131';
            }
            if (entry.usage > 90) {
                color = '#8B173E';
            }
            $('#sub_core_' + entry.core).css({
                "background": `linear-gradient(to right, #6BCBD5 0%, ${color} ${entry.usage}%, #ffffff ${entry.usage}%, #ffffff 100%)`
            });
        });

        data.network_info.forEach((net, k) => { 
            var color = '#6BCBD5';
            if (net.utilization > 55) {
                color = '#F79131';
            }
            if (net.utilization > 90) {
                color = '#8B173E';
            }
            $('#ether_' + k).css({
                "background": `linear-gradient(to right, #6BCBD5 0%, ${color} ${net.utilization}%, #ffffff ${net.utilization}%, #ffffff 100%)`
            });
            $('#ether_tx_' + k).html((net.bytes_sent / (1000**2)).toFixed(2) + ' MB');
            $('#ether_rx_' + k).html((net.bytes_received / (1000**2)).toFixed(2) + ' MB');
        });

        //     Total Cores: ${data.cpu_info.total_cores}<br>
        //     CPU Usage: ${data.cpu_info.cpu_usage}%<br>
        //     Per Core Usage: ${data.cpu_info.per_core_usage.join(', ')}
        // `);


        // RAM Info
        positionLabels(data.ram_info.percent);
        $('#ram_info_percent').html(data.ram_info.percent);
        $('#label-usage').html((data.ram_info.used / (1024**3)).toFixed(2));
        $('#label-available').html((data.ram_info.available / (1024**3)).toFixed(2));
        // $('#ram-info').html(`
        //     Total RAM: ${data.ram_info.total / (1024**3)} GB<br>
        //     Used RAM: ${data.ram_info.used / (1024**3)} GB<br>
        //     Free RAM: ${data.ram_info.available / (1024**3)} GB<br>
        //     Usage: ${data.ram_info.percent}%
        // `);

        // // Network Info
        // $('#network-info').html(data.network_info.map(net => `
        //     ${net.interface} (${net.type}) - IP: ${net.ip}, Speed: ${net.speed} Mbps
        // `).join('<br>'));

        // // ARP Table
        // $('#arp-info').html(data.arp_table.map(entry => `
        //     IP: ${entry.ip}, MAC: ${entry.mac}, Interface: ${entry.interface}
        // `).join('<br>'));
    });
}

// Update every 5 seconds
setInterval(updateDashboard, 3000);

// Initial update
updateDashboard();

</script>

{{ firewalls }}

<h3>Connected USB Devices</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bus</th>
            <th>Device</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for device in usb_devices %}
        <tr>
            <td>{{ device.bus }}</td>
            <td>{{ device.device }}</td>
            <td>{{ device.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <h3>Active Processes</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PID</th>
                <th>Name</th>
                <th>CPU Usage (%)</th>
                <th>RAM Usage (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for process in processes %}
            <tr>
                <td>{{ process.pid }}</td>
                <td>{{ process.name }}</td>
                <td>{{ process.cpu_usage }}</td>
                <td>{{ process.ram_usage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
