<!-- html/login.html -->
{% extends 'main.html' %}

{% block content %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                      <div class="text-center">
                        <img src="{{ url_for('static', filename='img/noc.png') }}" class="w-100" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Network Operation Center</h4>
                      </div>
                      <form method="POST">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="admin" />
                        </div>
      
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="admin" />
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg mb-3" type="submit">Log in</button>
                        </div>    
                      </form>      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">Network Operations Center (NOC)</h4>
                        <p class="small mb-0">The <b>NOC Dashboard</b> is a web-based application designed for monitoring system performance and network activity. It provides an overview of critical system resources, including CPU load, memory usage, disk space, and network interfaces. Users can track running processes, observe real-time network connections, and analyze ARP tables for active devices on the network.</p>

                        <p class="small mb-0">The dashboard helps system administrators identify performance bottlenecks, monitor resource consumption, and analyze network activity in a centralized interface. With a focus on efficiency and simplicity, it provides key insights into system health while ensuring secure access through user authentication.</p>
                        
                        <p class="small mb-0">This tool is essential for monitoring infrastructure, troubleshooting network issues, and managing system performance in a structured and user-friendly way. 🚀</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
